.view-galery  div {
	display: inline-block;
	text-align: center;
}

.view-galery .views-field {
	margin: 10px;
}

.view-galery .field-content img{
	border: 5px solid #fff;
	box-shadow: 0px 0px 10px 4px rgba(0,0,0, 0.5);
	border-radius: 5px;
}

.view-galery .field-content img:hover{
	border-color: #ff0;
}