/*-------------------------------------------------------------*/
.c_wrapper {
	margin-top: 30px;
	/*border: 1px solid red;*/
	height: 70px;
	width: 100%;
}
.c_left, .c_right {
	/*border: 1px solid green;*/
	z-index: 10;
	position: relative;
	text-align: center;
	line-height: 70px;
	font-size: 50px;
	color: #fff;
	/*background: #da2438;*/
	background: #EB041E;
	height: 100%;
	width: 49%;
}
.c_left {
	float: left;
	box-shadow: 3px 7px 30px 3px #404040;
	/*border-radius: 0 5px 5px 0;*/
}
.c_right {
	float: right;
	box-shadow: -3px 7px 30px 3px #404040;
	/*border-radius: 5px 0 0 5px;*/
}

/*--------------------------*/
.c_left_ear, .c_right_ear {
	position: relative;
	width: 14px;
	height: 92px;
	background: url(../images/center_ear.png) no-repeat;
	/*border: 1px solid lime;*/
}
.c_left_ear {
	left: -14px;
	float: left;
	/*background: url(../../images/c_left_ear.png) no-repeat;*/
	background-position: 0% 0%;
}
.c_right_ear {
	float: right;
	left: 14px;
	background-position: 100% 0%;
	/*background: url(../../images/c_right_ear.png) no-repeat;*/
}
/*-------------------------------------------------------------*/
.l_r_wrapper {
	height: 500px;
}
.l_content, .r_content {
	z-index: 5;
	position: relative;
	width: 49%;
	height: 500px;
	/*border: 1px solid black;*/
}
.l_content {
	float: left;
	overflow: hidden;
	/*background: #00a4fd;*/
}

/*-------------------------------------------------------------*/
.r_content {
	float: right;
	/*background: #fff;*/
	/*background: url(../../images/ohr2.png) no-repeat bottom #fff;*/
}
.l_content {
	/*float: right;*/
	/*background: #fff;*/
	/*background: url(../../images/ohr2.png) no-repeat bottom #fff;*/
	/*border: 1px solid gray;*/
}

/*-------------------------------------------------------------*/

/*-------------------------------------------------------------*/
/*-------------------------------------------------------------*/
#slider-container-top {
	/*border: 1px solid gray;*/
	width: 100%;
	max-height: 375px;
}