/*--------------------------------------------------*/
@font-face {
    font-family: gothic;
    src: url(fonts/GOTHIC.TTF);
}
@font-face {
    font-family: Verdana;
    src: url(fonts/verdana.ttf);
    font-weight: normal;
    font-style: normal;
}
/*@font-face {
    font-family: poiret;
    src: @import url(http://fonts.googleapis.com/css?family=Poiret+One&subset=cyrillic,latin);
}*/
/*@import url(http://fonts.googleapis.com/css?family=Poiret+One&subset=cyrillic,latin);*/
/*-----------------------------------------------*/
/*-----------------------breadcrumbs----------------***/
#breadcrumbs a, #breadcrumbs span {
    /*text-decoration: none;*/
    font-size: 14px;
    color: #005;
}
#breadcrumbs span {
    color: #000;
}
#breadcrumbs a:hover {
    color: #a00;
    text-decoration: underline;
}
#breadcrumbs {
    position: absolute;
    top: 145px;
    left: 155px;
}
/*#breadcrumbs span:before {
    content: '>';
}*/
/** ------------ MAIN MENU --------------------*/
nav {text-align: left;}
#main_menu {
        z-index: 1000000;
        /*font-family: gothic, sans-serif;*/
        /*font-family: 'Poiret One', gothic, sans-serif;*/
        font-family:  Verdana;
        font-size: 1.1em;
        /*border: 1px solid yellow;*/
        /*background:white url(bg.gif) repeat-x left top;*/
        background: #4d4d4d;
        position: absolute;
        left: 155px;
        right: 0;
        top: 100px;
        height: 40px;
        /*z-index: 10;*/
}
/*-----------------------------------------*/
.login_href {
        float:right;
        display: inline-block;
        height: 40px;
        width: 40px;
        background: url(../images/man.png) no-repeat 0% 0% #da2538;
        cursor: pointer;
        transition: all 0.2s;
}
.login_href:hover, .login_href.open {
    background-position: 100% 0%;
        /*background: url(../images/man.png) no-repeat 100% 0% #da2538;*/
        /*box-shadow: 0px 0px 5px 1px #222;*/
}
.login_href.login {
    background-position: 0% 100%;
    background-color: #58FF0B;
    /*background: url(../images/man.png) no-repeat 0% 100% #58FF0B;*/
}
.login_href.login:hover, .login_href.login.open {
    background-position: 100% 100%;
     /*100% 100% #58FF0B;*/
}
/*-------------------------------------------------------*/
